version: '3.8'

services:
  postgres:
    image: postgres:16.1
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER} 
      POSTGRES_PASSWORD: ${DB_PASSWORD} 
      POSTGRES_DB: ${DB_NAME} 
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - postgres-data:/var/lib/postgresql/data

  chat-service:
    build: .
    depends_on:
      - postgres
    environment:
      DB_USER: ${DB_USER} 
      DB_PASSWORD: ${DB_PASSWORD} 
      AUTH_SERVICE_URL: ${AUTH_SERVICE_URL}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL} 
      SECRET_KEY: ${SECRET_KEY:-Peanut_Butter_Jelly_The_Long_Way_Secret_Key_123}
    ports:
      - "5252:5252"

volumes:
  postgres-data:
